body {
    background-image: url("9.jpg");
    background-size: cover; /*Scale the background image to be as large as possible so that the background area is completely covered by the background image.*/
    background-attachment: fixed; /*The background is fixed with regard to the viewport*/
    background-position: center center; /*sets the starting position of a background image. If you only specify one keyword, the other value will be "center"*/
    background-repeat: no-repeat;/*The background-repeat property sets if/how a background image will be repeated. By default, a background-image is repeated both vertically and horizontally.*/
    font-family: 'Raleway', sans-serif;
    font-weight: 200; 
    -webkit-background-size: cover; 
}

h1{
    text-align:center;
}

h2 {
    text-align: center;
    padding: 10px;
}


.wrapper {
    
    background-color: none;
    margin: 0 auto;
    width: 80%;
}

.text {
    margin: 10px;
    text-align: justify;
    font-weight: bold;
    font-size: 1.4vw;
    color: black;
}

img.avatar{
    display: block;
    margin: 0 auto;    
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
}

hr{ 
    width:100%;
    height:2px;
    background: white 
}

.links {
  color: white;
  text-align: center;
}

div.skills {
    float: left;
    width:48%;
    background-color: white;
    border-radius: 5px;
    margin:10px auto;
    opacity: 0.4;
}

div.interests {
    float: right;
    width:48%;
    background-color: white;
    border-radius: 5px;
    margin:10px auto;
    opacity: 0.4;
}


.skills li{
    list-style-type: none;
    line-height: 27px;
    font-size: 1.18vw;   
}

.interests li{
    line-height: 27px;
    font-size: 1.18vw;   
}

div.experience {
    width:100%;
    background-color: white;
    border-radius: 5px;
    margin:10px auto;
    opacity: 0.4;
    padding: 3px;
}

.experience li{
    list-style-type: none;
    line-height: 27px;
    font-size: 1.18vw;  
}